.storytext {
	color: black;
	line-height: 1.7em;
	font-size: 13pt;
}

.choice{
	margin-left: 1rem;
}
.choice:visited{
	color: black;
}
.choice:hover{
	color: grey;
}

@media (prefers-reduced-motion: no-preference) {
	.storytext{
		animation: fadein 0.75s
	}
}

@keyframes fadein{
	from{ opacity: 0;}
	to  { opacity: 1;}
}

.storycontent{
	display: flex;
	flex-direction: column;
}
.storylog{
	flex: 2;
	border-bottom: 2px solid;
}
.storychoices{
	position: sticky;
	bottom: 0;
	background: white;
	flex: 1;
}

hr {
	flex-grow: 1;
	width: 100%;
	bottom: 0;
}

