.storytext {
	color: black;
	line-height: 1.7em;
	font-size: 13pt;
}

.choice{
	margin-left: 1rem;
}
.choice:visited{
	color: black;
}
.choice:hover{
	color: grey;
}

@media (prefers-reduced-motion: no-preference) {
	.storytext{
		animation: fadein 0.5s
	}
}

@keyframes fadein{
	from{ opacity: 0;}
	to  { opacity: 1;}
}

.storycontent{
	display: flex;
}
.storylog{
	flex: 2;
}
.storychoices{
	position: sticky;
}

/* Landscape layout */
/*
@media screen and (min-aspect-ratio: 13/9) {
	.storycontent{
		flex-direction: row;
	}
	.storychoices{
		top: 0;
		align-self: flex-start;
		flex: 1;
	}
}
*/

/* Portrait layout 
@media screen and (max-aspect-ratio: 13/9) {
*/
	.storycontent{
		flex-direction: column;
	}
	.storychoices{
		bottom: 0;
		background: white;
		flex: 1;
	}
	hr {
		flex-grow: 1;
		width: 100%;
		bottom: 0;
	}

